[Desktop Entry]
Version=1.0
Name=Bitzeny Core
Comment=Connect to the Bitzeny P2P Network
Comment[de]=Verbinde mit dem Bitzeny peer-to-peer Netzwerk
Comment[fr]=Bitzeny, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bitzeny, eşten eşe kriptografik sanal para birimi
Exec=bitzeny-qt %u
Terminal=false
Type=Application
Icon=bitzeny128
MimeType=x-scheme-handler/bitzeny;
Categories=Office;Finance;
StartupWMClass=Bitzeny-qt
