policy_module(bitzeny, 1.100.1)

########################################
#
# Declarations
#

type bitzeny_t;
type bitzeny_exec_t;
init_daemon_domain(bitzeny_t, bitzeny_exec_t)

permissive bitzeny_t;

type bitzeny_initrc_exec_t;
init_script_file(bitzeny_initrc_exec_t)

type bitzeny_conf_t;
files_type(bitzeny_conf_t)

type bitzeny_var_lib_t;
files_type(bitzeny_var_lib_t)

type bitzeny_var_run_t;
files_type(bitzeny_var_run_t)

type bitzeny_port_t;
corenet_port(bitzeny_port_t)

########################################
#
# bitzeny local policy
#
allow bitzeny_t self:process { fork };

allow bitzeny_t self:fifo_file rw_fifo_file_perms;
allow bitzeny_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(bitzeny_t, bitzeny_conf_t, bitzeny_conf_t)
manage_files_pattern(bitzeny_t, bitzeny_conf_t, bitzeny_conf_t)

manage_dirs_pattern(bitzeny_t, bitzeny_var_lib_t, bitzeny_var_lib_t)
manage_files_pattern(bitzeny_t, bitzeny_var_lib_t, bitzeny_var_lib_t)
files_var_lib_filetrans(bitzeny_t, bitzeny_var_lib_t, { dir file })

manage_dirs_pattern(bitzeny_t, bitzeny_var_run_t, bitzeny_var_run_t)
manage_files_pattern(bitzeny_t, bitzeny_var_run_t, bitzeny_var_run_t)

sysnet_dns_name_resolve(bitzeny_t)
corenet_all_recvfrom_unlabeled(bitzeny_t)

allow bitzeny_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(bitzeny_t)
corenet_tcp_sendrecv_generic_node(bitzeny_t)
corenet_tcp_sendrecv_all_ports(bitzeny_t)
corenet_tcp_bind_generic_node(bitzeny_t)

gen_require(`
    type bitzeny_port_t;
')
allow bitzeny_t bitzeny_port_t:tcp_socket name_bind;

gen_require(`
    type bitzeny_port_t;
')
allow bitzeny_t bitzeny_port_t:tcp_socket name_connect;

domain_use_interactive_fds(bitzeny_t)

files_read_etc_files(bitzeny_t)

miscfiles_read_localization(bitzeny_t)

sysnet_dns_name_resolve(bitzeny_t)

allow bitzeny_t bitzeny_exec_t:file execute_no_trans;
allow bitzeny_t self:process setsched;
corecmd_exec_ls(bitzeny_t)
corenet_tcp_connect_http_port(bitzeny_t)
dev_read_urand(bitzeny_t)
fs_getattr_xattr_fs(bitzeny_t)
kernel_read_system_state(bitzeny_t)
