# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit bitzenyd.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/bitzeny/bitzeny.conf

[Unit]
Description=Bitzeny daemon
After=network.target

[Service]
ExecStart=/usr/bin/bitzenyd -daemon -conf=/etc/bitzeny/bitzeny.conf -pid=/run/bitzenyd/bitzenyd.pid
# Creates /run/bitzenyd owned by bitzeny
RuntimeDirectory=bitzenyd
User=bitzeny
Type=forking
PIDFile=/run/bitzenyd/bitzenyd.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
